<!DOCTYPE html>
<html>
  <head>
    <title>Weekly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="text-white bg-black">
<div class="container mx-auto flex items-center sm:content-center text-center">
  <a class="text-center font-bold text-2xl sm:text-center md:text-center lg:text-left" href="#">
          Weekly.gg
        </a>
</div>

    <%= yield %>
  </body>
</html>
